<ol class="post-list">
    {{!-- the #each /each syntax indicates where the iteration
    starts and ends --}}
  {{#each posts as |post|}}
  {{!-- that second |post| declares a variable
  for each object to use in the template --}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
      </div>
      <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>